body {
    background-color: rgb(216, 128, 29);
}

button {
    position: relative;
    left: 590px;
    top: 20px;
    width: 100px;
    height: 40px;
    background-color: rgb(129, 129, 163);
}


#box {
    position: relative;
    background-color: rgb(2, 3, 3);
    width: 480px;
    height: 480px;
    left: 400px;
    top: 50px;
}

.row {
    border: 0px;
    width: 480px;
    background-color: black;
}

.pixle {
    /* position: relative; */
    background-color: black;
    float: left;
}

.hovered {
    float: left;
}